#!/bin/zsh
#
# common aliases
#
alias e='exit'
alias c='clear'
alias lals="{ alias; git aliases; } | sort"
alias clean="sudo find . -type f -name '*.DS_Store' -ls -delete"

#
# exa aliases
#
alias ls='exa --git-ignore --group-directories-first -la'
alias cl='clear; exa --git-ignore --group-directories-first -la'

#
# git, vim, tmux, mutt, latex, and markdown specific aliases
#
source $HOME/Repositories/dot-files/git-config/.aliases
source $HOME/Repositories/dot-files/vim-config/.aliases
source $HOME/Repositories/dot-files/tmux-config/.aliases
source $HOME/Repositories/dot-files/mutt-config/.aliases
source $HOME/Repositories/dot-files/latex-config/.aliases
source $HOME/Repositories/dot-files/markdown-config/.aliases
