#!/bin/zsh
# show * aliases
alias aliases="{ alias; git aliases; } | sort"

# clear
alias cl='clear; exa --git-ignore --group-directories-first -la'

# clean pesky .DS_Store
alias clean="sudo find . -type f -name '*.DS_Store' -ls -delete"

# exa
alias l='exa --git-ignore --group-directories-first -la'

# fd persistent on MacOS and Debian
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
	alias fd=fdfind
fi

# cloud compare
alias cloudc='cloudcompare.CloudCompare'

# hotspotshield
alias disc='hotspotshield disconnect'
alias conn='hotspotshield connect US'

# nvim
alias vi=nvim

# tree
alias t=tree

# reseting antigen
alias ar='antigen reset'


# BIN SCRIPT ALIASES:

# library.bib update
alias bib='bib.sh'

# compile latex documents
alias compile='tex.sh -j10'

# build cmake project
alias build='cmake.sh -j10'

