#!/bin/zsh

source $HOME/Repositories/dotfiles/zsh-dotfiles/aliases/.ggit
source $HOME/Repositories/dotfiles/zsh-dotfiles/aliases/.tmux
source $HOME/Repositories/dotfiles/zsh-dotfiles/aliases/.mutt
source $HOME/Repositories/dotfiles/zsh-dotfiles/aliases/.latex
source $HOME/Repositories/dotfiles/zsh-dotfiles/aliases/.arbitrary

